.left {
  margin-top: 2em;
}
.login-wrap {
  margin-top: 2em;
  width: 80%;
  margin: auto;
  max-width: 475px;
  min-height: 700px;
  position: relative;
  background-color: #111;

  box-shadow: 0 0 10px #111;
}
.login-html {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 90px 70px 50px 70px;
  background-image: linear-gradient(
    -25deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(22, 22, 22, 255) 100%
  );
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: all 0.4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
  display: none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button {
  text-transform: uppercase;
}
.login-html .tab {
  font-size: 22px;
  margin-right: 15px;
  padding-bottom: 5px;
  margin: 0 15px 10px 0;
  display: inline-block;
  border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab {
  color: white;
  border-color: #1161ee;
}
.login-form {
  min-height: 345px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.login-form .group {
  margin-bottom: 15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
  width: 100%;
  color: black;
  display: block;
}
.login-form .group .input {
  border: none;
  color: black;
  padding: 15px 20px;
  border-radius: 25px;
}

.login-form .group .button {
  border: none;
  color: white;
  padding: 15px 20px;
  border-radius: 25px;
}
.login-form .group input[data-type="password"] {
  color: black;
  -webkit-text-security: circle;
}
.login-form .group .label {
  color: white;
  font-size: 12px;
}
.login-form .group .button {
  background: #1161ee;
}
.login-form .group label .icon {
  width: 15px;
  height: 15px;
  border-radius: 2px;
  position: relative;
  display: inline-block;
}
.login-form .group label .icon:before,
.login-form .group label .icon:after {
  content: "";
  width: 10px;
  height: 2px;
  background: white;
  position: absolute;
  transition: all 0.2s ease-in-out 0s;
}

.changed-size {
  font-size: 0.8em;
}
.login-form .group label .icon:before {
  left: 3px;
  width: 5px;
  bottom: 6px;
  transform: scale(0) rotate(0);
}
.login-form .group label .icon:after {
  top: 6px;
  right: 0;
  transform: scale(0) rotate(0);
}
.login-form .group .check:checked + label {
  color: white;
}

.login-form .group .check:checked + label .icon {
  background: #1161ee;
}
.login-form .group .check:checked + label .icon:before {
  transform: scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after {
  transform: scale(1) rotate(-45deg);
}
.login-html
  .sign-in:checked
  + .tab
  + .sign-up
  + .tab
  + .login-form
  .sign-in-htm {
  transform: rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm {
  transform: rotate(0);
}

@media (max-width: 599px) {
  .middle {
    margin-bottom: 5em;
  }
}

.group-password {
  display: flex;
  align-items: center;
  justify-content: center;
}
