@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 30px;
  width: auto;
}

.ant-menu-horizontal {
  width: 50%;
  display: flex;
  justify-content: center;
  border: none;
  margin: 0 auto;
}

.ant-menu-horizontal .ant-menu-item a,
.ant-menu-horizontal .ant-menu-item a:hover,
.ant-menu-horizontal .ant-menu-submenu-title a:hover {
  color: #1890ff;
}

.ant-menu-horizontal .ant-menu-item-selected,
.ant-menu-horizontal .ant-menu-item-active {
  background-color: #1890ff;
}
.sider {
  height: 100%;
}

.ant-menu {
  height: 100%;
}
.sider {
  height: 100%;
}

.ant-menu {
  height: 100%;
}

.submenu-popup {
  width: 15%;
  height: 22%;
}

.custom-sider .ant-layout-sider-zero-width-trigger {
  background-color: #111 !important;
  color: #4f4846 !important;
  border: none !important;
  z-index: 1000;
}

.custom-sider .ant-layout-sider-zero-width-trigger:hover {
  background-color: #222 !important;
  color: #197221 !important;
}

.custom-menu-label {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 500;
}
