.about {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.persons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.person {
  margin-top: 20px;
  text-align: center;
}

.person img {
  margin-left: auto;
  margin-right: auto;
}

.person-image {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.about-us {
  height: 100vh;
  width: 100%;
  padding: 90px 0;
  background: #ddd;
}

.pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.text {
  width: 540px;
}

.person h2 {
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text h5 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text span {
  color: #4070f4;
}

.text p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.data {
  margin-top: 30px;
}

.hire {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 8px 25px;
  border-radius: 6px;
  transition: 0.5s;
}

.hire:hover {
  background: #000;
  border: 1px solid #4070f4;
}

body {
  overflow-x: hidden;
}
