@import url("https://fonts.googleapis.com/css?family=Lato:200,300,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:200,400,400i,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}
body {
  background-color: #111;
  color: #d8d8d8;
}

.container-learn {
  display: flex;
}

.content-learn {
  margin: 0 auto;
}

.menu-learn {
  width: 0%;
}

.boxes {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.boxes:last-child {
  margin-top: 120px;
}
.box {
  width: 30vw;
  font-size: 1em;
  line-height: 1.5em;
  font-weight: 200;
  padding: 0 4vw 4vw;
  border-right: 2px;
  border-left: 0;
  border-style: solid;
  border-image: linear-gradient(to bottom, #181818, #eee, #181818) 1 100%;
}
.box:last-child {
  border-right: 0;
}
.box .icon {
  font-size: 4em;
  color: #555;
  margin-bottom: 0.6em;
}
.box .icon:hover {
  color: #d8d8d8;
}
.box h2 {
  font-size: 1.3em;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 200;
  line-height: 1em;
  color: #f2f2f2;
}
.box .piece-count {
  font-style: italic;
  color: #9f9f9f;
  margin-bottom: 1.2em;
  letter-spacing: 1px;
  font-family: Lora, serif;
}
